@font-face {
    font-family: 'YoungSerif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

:root {
    --ff-youngserif: 'YoungSerif', Arial, Helvetica, sans-serif;
    --ff-outfit: 'Outfit', Arial, Helvetica, sans-serif;
    --clr-eggshell: #F3E5D7;
    --clr-white: #FFFFFF;
    --clr-white-coffee: #E3DDD7;
    --clr-brandy-red: #854632;
    --clr-wenge-brown: #5F564D;
    --clr-dark-raspberry: #7A284E;
    --clr-dark-charcoal: #312E2C;

    --fw-normal: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

}

/*CSS Resets*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

/*General Styles*/

body {
    background-color: var(--clr-eggshell);
    font-family: var(--ff-outfit);
    line-height: 1.5;
}

h1,
h2 {
    line-height: 1;
}

.container {
    display: flex;
    justify-content: center;
    margin-block: 123px;
}

.main-content {
    background-color: var(--clr-white);
    color: var(--clr-wenge-brown);
    max-width: 736px;
    padding: 40px;
    border-radius: 24px;
    gap: 40px;
}

.content-1 {
    border-bottom: 1px solid var(--clr-white-coffee);
}

.content-1>* {
    margin-bottom: 32px;
}

h1 {
    font-size: 2.5rem;
    color: var(--clr-dark-charcoal);
}

img {
    border-radius: 12px;
}

ul, ol {
    margin-left: 21px;
}

li {
    padding-left: 15px;
}

ul li::marker {
    font-size: small;
}

ul, ol {
    gap: 8px;
}

.preparation {
    padding: 28px;
    background-color: #FFF7FB;
    border-radius: 12px;
    gap: 16px;
}

.preparation h2 {
    color: var(--clr-dark-raspberry);
    font-size: 1.25rem;
}

.preparation ul li::marker {
    color: var(--clr-dark-raspberry)
}

.ingredients h2 {
    color: var(--clr-brandy-red);
    font-size: 1.75rem;
}

.ingredients ul li::marker,
.content-2 ol li::marker {
    color: var(--clr-brandy-red);
}

.content-2 {
    margin: 32px 0;
    border-bottom: 1px solid var(--clr-white-coffee);
}

.content-2 h2,
.content-3 h2 {
    color: var(--clr-brandy-red);
    font-size: 1.75rem;
}

.content-2 ol {
    margin-bottom: 32px;
}

.content-2 ol li::marker {
    font-weight: 700;
    color: var(--clr-brandy-red);
}

.nutrition-table .row {
    display: flex;
    width: 100%;
    padding: 12px 32px;
    gap: 16px;
    border-bottom: 1px solid var(--clr-white-coffee);
}

.nutrition-table .row:first-child {
    padding-top: 0px;
}

.nutrition-table .row:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.nutrition-table .cell {
    flex: 1;
    line-height: 1.5;
}

.nutrition-table .highlight {
    color: var(--clr-brandy-red);
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 45.9375em) {
    .container {
        display: block;
        margin: auto;
    }

    .banner img {
        border-radius: 0;
    }

    .main-content {
        background-color: var(--clr-white);
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    .content {
        padding: 0 32px;
    }
}


.fw-normal {
    font-weight: 400;
}

.fw-semi-bold {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.ff-heading {
    font-family: var(--ff-youngserif);
}

.gap-24 {
    gap: 24px;
}

.d-flex-direction-column {
    display: flex;
    flex-direction: column;
}
